//colors
$clr-neutralWhite :hsl(0, 0%, 98%); 
$clr-mediumGray:hsl(0, 0%, 41%); 
$clr-black:hsl(0, 0%, 8%);


//font weight
$fw-medium : 500;
$fw-bold : 700;

//transition
$regular-transiton: 200ms ease-in-out;